<div class="existing-notes">
  <label>Notes:</label>
  <ul class="note-list">
    <% current_issue.notes.each do |note| %>
      <li><%= note.detail %></li>
    <% end %>
  </ul>
</div>
<form id="new-note-form">
  <input id="new-note" type="text" name="note" data-issue-id="<%= current_issue.id %>">
  <button id="submit-new-note">Submit Note</button>
</form>