<div class="existing-notes">
  <div class="subtitle">Notes:</div>
  <ul class="note-list">
    <% current_issue.notes.each do |note| %>
      <li><%= note.detail %></li>
    <% end %>
  </ul>
</div>
<form id="new-note-form">
  <input id="new-note" type="text" name="note" data-issue-id="<%= current_issue.id %>">
  <input id="submit-new-note" type="submit" value="submit"></input>
</form>