<% if session_id and user_name %>
  <%= render 'admin_panel', session_id: session_id, review: false %>
<% end %>
<div class="report">
  <div class="subtitle">Retro Report - <%= current_session.created_at.strftime("%m/%d/%Y") %></div>
  <div class="issue-list-wrapper">
    <div class="issue-list">
      <% @issues.each do |issue| %>
        <div class="issue-box">
          <span><%= issue.detail %></span>
        </div>
        <% if issue.notes.any? %>
        <div class="issue-notes">
          <ul>
            <% issue.notes.each do |note| %>
              <li><%= note.detail %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>