<div class="stage">
  <%= link_to 'Let\'s Vote', vote_stage_path(:session_id => @s.id, :name => @user.name), method: :post %>
</div>
<div class="tips">
  <div class="tips-label">Tips for creating new issue</div>
  <ul>
    <li>The record will be anonymous.</li>
    <li>Other people's typing will be shown automatically so you don't have to refresh the page.</li>
    <li>Please review what others put down first before creating a new one to avoid duplicates.</li>
    <li>Start typing whatever you want to discuss with your team in the input box below.</li>
  </ul>
</div>
<form id="new-issue-form">
  <label></label>
  <input type="text" id="new-issue" data-session-id='<%= @s.id %>' data-user-id='<%= @user.id %>' class="inline" placeholder="Type your issue here...">
  <input type="submit" value="Create" id="submit-new-issue" class="inline">
</form>

<div class="issue-list">
  <%= render 'issue_list', :is_vote => false %>
</div>