<% if session_id and user_name %>
  <%= render 'admin_panel', session_id: session_id, review: false %>
<% end %>
<div class="tips">
  <div class="subtitle">Tips for creating new issue</div>
  <ul>
    <li>The record will be anonymous.</li>
    <li>Other people's typing will be shown automatically so you don't have to refresh the page.</li>
    <li>Please review what others put down first before creating a new one to avoid duplicates.</li>
    <li>Start typing whatever you want to discuss with your team in the input box below.</li>
  </ul>
</div>
<form id="new-issue-form">
  <input type="text" id="new-issue" data-session-id='<%= @s.id %>' data-user-id='<%= @user.id %>' class="inline" placeholder="Type your issue here...">
  <input type="submit" value="Create" id="submit-new-issue" class="inline">
</form>

<div class="issue-list-wrapper">
  <%= render 'issue_list', :is_vote => false %>
</div>