<div class="stage">
	<%= link_to 'Let\'s Review', review_stage_path(:session_id => @s.id, :name => @user.name), method: :post %>
</div>
<div class="vote-counter">
	You have <span>5</span> vote(s) left.
</div>
<%= render 'issue_list', :is_vote => true, :is_review => false %>
<button id="submit-vote">Submit Vote</button>