.session-id {
  width: 300px;
}
.join-session-form {
  display: inline-block;
}
.create-session-form {
  display: inline-block;
  position: relative;
  left: -70px;
  label {
    margin-right: 5px; 
  }
}

.session-join-create-wrapper {
  margin-top: 80px;
  text-align: center;
}

.join-name-wrapper {
  margin-top: 200px;
  .name-input {
    margin-top: 70px;
    width: 300px;
    margin-left: calc(50% - 190px);
  }
}