.vote {
  input[type="number"] {
    float: right;
    border: none;
    background-color: rgba(255,255,255,0.05);
    box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
    line-height: 30px;
    margin-top: 5px;
    width: 40px;
    padding-left: 10px;
  }
}

.vote-counter {
  text-align: center;
  width: 240px;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
  height: 50px;
  line-height: 50px;
  margin-left: calc(50% - 120px);
  color: rgba(52, 152, 219, 1);
}

#submit-vote {
  margin-top: 20px;
}

.votes-count {
  display: inline-block;
  background-color: rgba(255,255,255,0.1);
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  color: #2ECC71;
  width: 60px;
  text-align: center;
  margin-right: 10px;
}